:root {
  --color-text: rgb(255 255 255);
  --color-primary: rgb(55 95 235);
  --color-body-bg: rgb(34 34 34);
  --color-navbar-bg: rgba(34 34 34 / 80%);
  --color-hover-bg: rgba(255 255 255 / 8%);
  --color-panel-bg: rgba(255 255 255 / 10%);
  --color-active-bg: rgba(255 255 255 / 30%);
}

body {
  background-color: var(--color-body-bg);
}

a {
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--color-primary);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-left: 1px solid rgba(128 128 128 / 18%);
  background: var(--color-body-bg);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--color-active-bg);
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  padding: 0 10vw;
  background-color: var(--color-navbar-bg);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 1;
}

.app-content {
  padding: 64px 10vw;
}

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: var(--color-navbar-bg);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 1;
}
